* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 18px;
  font-family: sans-serif;
  background-color: aliceblue;
}
.container {
  width: 50rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.card {
  background-color: rgb(13, 220, 203);
  text-align: center;
  padding: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.ans {
  background-color: rgb(220, 44, 13);
}
